.flexbox{
    /*Flex*/
    display: flex;/*display as flex template*/
    flex-direction: column;/*set direction of item placement*/
    flex-wrap: wrap;/*wrap around to new row if not enough space*/

    align-items: flex-end;/*set to be at the head or the end of the page*/
    align-items: flex-start;
    align-items: stretch/*stretch till the end of a page*/;
    align-items: baseline; /*have the middle zone at the same place,along the same line*/

    align-items: center;/*everything at the center*/
    justify-content: center;
    /*you can set style="order: n"; to set the arrange order of items */

    flex-grow: 1;/*grow size inside a container*/
    flex-shrink: 1;/*shrink based on browser size*/
    flex-basis: 100px;/*starting lenght of item*/
    /*boiled down version*/
    flex: 1 1 100px;/*grow,shrink,basis*/ 

    /*flex alignment*/
    align-self: flex-start;/*top of the page possible*/
    align-self: flex-end;/*lowest possible*/
    align-self: center;/*at the very center possible*/
}

.grid{
    /*Grid*/
    display: grid;/*display in grid template*/
    grid-template-columns: 10px 20px 30px;/*column 1-2-3 width*/
    grid-template-rows: auto auto;/*row 1-2 heigh*/
    /*for some perfection lookin shits,just fucking auto em all*/
    justify-content:start ;/*setting a position of the content to the left*/
    justify-content: space-evenly;/*set the content to the middle with even spaces*/
    justify-content: space-around;/*set the context*/

    /*grid positioning*/
    grid-row: 2/ span 5;
    grid-column: 1/ span 3 ;/*start/limit*/
    /*boiled down*/
    grid-area: 2 / 1 / span 5 / span 3 ;/*rowStart/ColumnStart/RowSpan/ColumnSpan*/
    row-gap: 10px;
    column-gap: 10px;
    gap: 20px 20px;/*column gap-row gap*/
}